$black: #101010;

.parties {
  .party {
    color: $black;
    margin-bottom: 1em;
    img {
      width: 100%;
      height: 180px;
      object-fit: cover;
    }
    .title {
      font-weight: 600;
    }
    hr {
      margin: 0;
    }
    .members {
      font-size: 13px;
      img {
        height: 1.5em;
        width: auto;
        margin-right: 0.25em;
      }
    }
  }
  a:hover {
    text-decoration: none;
  }
}
