$grey: #e6e6e6;
$dark-grey: #8a8a8a;

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  border-bottom: 1px solid $grey;
  img {
    height: 50px;
  }
  .back-btn {
    position: absolute;
    left: 1.5em;
    img {
      height: 1.5em;
    }
  }
  .center-menu {
    text-align: center;
    font-size: 14px;
    img {
      width: 40px;
      height: 40px;
    }
    a {
      color: white;
      text-decoration: none;
    }
  }
  .right-menu {
    position: absolute;
    right: 1.5em;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      color: white;
      font-size: 12px;
      text-decoration: none;
    }
    img {
      margin-left: 0.5em;
      border-radius: 50%;
      height: 40px;
      width: 40px;
    }
  }
  a.sign-out {
    color: $dark-grey;
    &:hover {
      color: red;
    }
  }
}
