$black: #101010;
$red: #fd5454;

.signin {
  .card {
    color: $black;
    padding: 1em;
  }
  a {
    font-size: 14px;
    color: initial;
    text-decoration: underline;
  }
  .error {
    color: $red;
  }
}
